.comment-card-parent {
  color: grey;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  background: #e0e0e0;
  box-shadow: 14px 14px 28px #a6a6a6, -14px -14px 28px #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.comment-action-buttons {
  display: flex;
  gap: 0.5rem;
}
.comment-card-parent:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 207);
}
.comment-content:hover {
  text-decoration: underline;
}
